#main-footer {
    background: #343a40;
    color : #fff;
}

#page-header {
    height : 230px;
    background:url('../assets/img/LoadView_At_night.jpg');
    background-position: 50% 72%;
    background-attachment: fixed; //고정
    color : #fff;
    border-bottom: 1px #eee solid;
    padding-top: 60px;
}